.rightPanel {
  display: inline-block;
  width: 600px;
  position: relative;
  margin-left: 75px;
  background: rgba(0, 0, 0, .1);
  max-height: 650px;
  overflow-y: auto;
  z-index: 0;
}

.rightPanel ul {
  padding-left: 0px;
}